.column {
  float: left;
  width: 28%;
  margin-left: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.column button{
  width: 140px;
  height: 50px;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image-gallery{
  margin-left: 100px;
  margin-top: 10px;
}
.image-gallery .column {
  padding-left:30px;
}
h1.card-title{
  font-size: 20px;
}
.product_page {
  padding: 2em;
}

.banner {
  background-color: #d6effa;
  border: 1px solid white;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;

  img {
    margin-left: 10em;
  }
}

input {
  padding: 1rem 0.5rem;
  margin-top: 1rem;
  border-radius: 9999px;
  border: none;
  padding: 0.8rem;
  width: 18rem;
}

img {
  width: 150px;
  height: 150px;
}

//Media Queries
@media (min-width: 1024px) {
  header {
    display: flex;
  }

  .banner {
    margin: 0 5rem;

    p {
      margin-top: 4rem;
      font-size: 4rem;
      font-weight: 700;
    }
  }

  .image-gallery {
    // display: flex;

    birthday {
      justify-content: space-between;
    }
  }
}
