@import "../../variables.scss";

.btn {
  display: block;
  margin-top: 32px;
  background-color: #fff;
  color: #333;
  width: 170px;
  height: 35px;
  line-height: 1;
  font-size: 15px;
  font-weight: 550;
  border-radius: 5px;
  border: .5px solid $pinkish;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s;

  &:hover {
    background-color: $pinkish;
    color: #fff;
  }

  &:active {
    transform: translateY(4px);
  }
}

.google {
  border: .5px solid #4285f4;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: #4285f4;
    color: #fff;
  }

  &-img {
    height: 20px;
    width: 20px;
  }
}