@import "../../variables.scss";

.btn {
  display: block;
  margin-top: 32px;
  background-color: rgba($pinkish, 0.8);
  color: #fff;
  width: 150px;
  height: 35px;
  line-height: 14px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $pinkish;
  }

  &:active {
    transform: translateY(4px);
  }
}

.google {
  width: auto;
  margin-left: 30px;
  padding: 0 20px;
}
