@import '../../variables.scss';

.cta-text {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;

  a,
  a:link,
  a:visited {
    padding: .2rem;
    text-decoration: none;
    color: currentColor;
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $pinkish;

      transition: all .5s;
    }

    &:hover {
      z-index: 10;

      &::after {
        height: 100%;
        z-index: -1;
      }
    }
  }
}