@import '../../variables.scss';
.Register {
  display: flex;
  height: 660px;

  & .Register-image-prop {
    width: 50%;
    height: 100%;
    position: relative;
  }

  .Register-image {
    background: url('../../assets/img/cakes/cup/cup.jpg') center no-repeat;
    background-size: cover;
  }

  .Login-image {
    background: url('../../assets/img/cakes/cup/cup2.jpg') center no-repeat;
    background-size: cover;
  }

  .Register-image-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    padding-bottom: 23px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;

    p {
      z-index: 88;
      color: #fff;
      font-size: 23px;
      font-weight: 500;
      text-align: center;
    }
  }

  .Register-form-lyt {
    width: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Register-form {
    width: 520px;

    .Register-heading {
      font-size: 28px;
      font-weight: 500;
      color: $primary;
    }

    .Register-subtext {
      font-size: 16px;
      font-weight: normal;
      color: #6a7e8a;
      margin-top: 8px;

      span {
        color: $primary;
      }
    }
  }
}

.cta-text {
  display: block;
  margin-top: 25px;
}
