@import "../../variables.scss";

.Register {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5rem; // 1rem == 16px(default html font size if not manually changed)

  background: linear-gradient(rgba(#000, 0.25), rgba(#000, 0.2)),
    url("../../assets/img/cakes/cup/cup3.jpg") center no-repeat;
  background-size: cover;
  background-position: top;

  color: rgba(#fff, 1);

  &-image {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  &-form {
    padding: 2.5rem;

    h3 {
      font-weight: 500;
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      margin-top: 0;

      a,
      a:link,
      a:visited {
        padding: 0.2rem;
        text-decoration: none;
        color: currentColor;
        position: relative;

        &::after {
          display: block;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: $pinkish;

          transition: all 0.5s;
        }

        &:hover {
          z-index: 10;

          &::after {
            height: 100%;
            z-index: -1;
          }
        }
      }
    }
  }
}
