@import '../../variables.scss';
@import '../../index.scss';

// header section starts here
.header__base {
  background: transparent;

  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  background: transparent;
  color: $text-col;
  padding-top: 15px;

  & a {
    text-decoration: none;
    color: $text-col;
  }
}

.brand a {
  font-size: 20px;
  font-weight: bold;
  color: $text-col;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  margin-left: 26px;
  padding: 2px;
  position: relative;

  &:hover {
    border-bottom: 2px solid;
    transition: all 0.5s ease;
    color: $pinkish;
  }

  &:focus {
    outline: none;
  }
}

.fa-cart-arrow-down {
  font-size: 20px;
}

.signOut-btn {
  border: 0;
  background: transparent;
  // background-color: none;
  margin-left: 20px;

  &:hover {
    border-bottom: 2px solid;
    transition: all 0.5s ease;
    color: $pinkish;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}

@media screen and (max-width: 500px) {
  .navlinks .display {
    display: none;
  }

  .menu {
    display: block;
  }

  .navlinks.responsive {
    position: relative;
  }

  .navlinks.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  .logo {
    width: 100%;
    margin: 0 15px;
  }
  header nav {
    flex-direction: column;
  }

  header ul {
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.cart-count {
  height: 20px;
  width: 20px;
  background: $pinkish;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 70px;
}
