@import '../../variables.scss';

// header section starts here
.header__base {
  background: transparent;

  position: absolute;
  top: 0;
  left: 5rem;

}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  background: transparent;
  color: $text-col;
  padding-top: 15px;

  & a {
    text-decoration: none;
    color: $text-col;
  }
}

.brand a {
  font-size: 20px;
  font-weight: bold;
  color: $text-col;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  margin-left: 26px;

  &:hover {
    text-decoration: underline;
    transition: all 0.5s ease;
    color: $pinkish;
  }
}

.fa-cart-arrow-down {
  font-size: 20px;
}