$primary: #9bc7fb;
$secondary: #cdd2d9;
$text-col: #000;
$bg-col: #cfebf9;
$text-intro: #cad8f2;
$bg-primary: #b3e4f9;
$bg-secondary: #7d747b;
$text-intro: #e94727;
$pinkish: #ff0066;
$ghostwhite: ghostwhite;
