// all general styles goes here
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.app__base {
  min-height: 100vh;
}

// header section starts here
.header__base {
  height: 680px;
  background: $bg-primary;
}

header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  background: $bg-col;
  color: $text-col;
  padding-top: 15px;

  & a {
    text-decoration: none;
    color: $text-col;
  }
}

.brand a {
  font-size: 20px;
  font-weight: bold;
  color: $text-col;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  margin-left: 26px;

  &:hover {
    text-decoration: underline;
    transition: all 0.5s ease;
    color: $pinkish;
  }
}

.fa-cart-arrow-down {
  font-size: 20px;
}

.header-intro {
  display: flex;
  justify-content: space-around;
}

.text-cta {
  width: 550px;
  height: 260px;
  margin-top: 12%;
  
  & h2 {
    font-size: 39px;
    }

    & p {
      font-size: 18px;
      margin-top: 3%;
    }
}

.img-intro {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.image-cta {
  height: 580px;
  width: 580px;
  border: 3px solid $pinkish;
  border-radius: 50%;
  padding: 35px;
  margin-top: 2%;
}

// header section ends here

// footer section starts here
footer {
  height: 50px;
  background: $bg-primary;
  color: $text-col;
}
